/*
    Project: PacmanEdu
    Date of creation: 2019.05.24 11:25
*/

* {
    -fx-primary: rgb(241,185,48);
    -fx-secondary: rgb(54, 52, 48);
    -fx-ternary: rgb(229,0,0);
    -fx-text: white;
}

.menu-bar {
    -fx-background-color: -fx-secondary;
}

.menu-bar .container .label{
    -fx-text-fill:-fx-primary;
}

.context-menu {
    -fx-background-color:derive(-fx-secondary,25%);
}

.menu-button:hover,
.menu-button:showing {
    -fx-background-color:derive(-fx-ternary,-10%);
}

.menu-item:hover,
.menu-item:focused {
    -fx-background-color:derive(-fx-ternary,-10%);
}

.menu-item:hover .label,
.menu-item:focused .label{
    -fx-text-fill:-fx-primary;
}

.menu-item .glyph-icon {
    -fx-fill:-fx-text;
}

/* Scrollbar style below is from blog.ngopal.com.np */

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(-fx-secondary, 50%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.split-pane:horizontal .split-pane-divider,
.split-pane:vertical .split-pane-divider {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-primary;
}
.split-pane:horizontal .split-pane-divider:hover,
.split-pane:vertical .split-pane-divide:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-ternary;
}

.list-view {
    -fx-background-insets: 0;
    -fx-background-color: derive(-fx-secondary, -10%);;
    -fx-border-color: -fx-primary;
    -fx-border-width: 1px;
}

.list-cell {
    -fx-alignment: center;
    -fx-font-size: 1.1em;
    -fx-text-fill: derive(-fx-primary, 15%);
}

.list-cell:hover {
    -fx-background-color:derive(-fx-ternary,-10%);
}

.list-cell:even {
    -fx-background-color: derive(-fx-secondary, 15%);
}

.list-cell:odd {
    -fx-background-color: derive(-fx-secondary, -15%);
}

.context-menu {
    -fx-background-color:derive(-fx-secondary,25%);
}

.titled-pane:expanded,
.titled-pane:collapsed {
    -fx-background-color:derive(-fx-secondary,25%);
}

.titled-pane:expanded .title {
    -fx-background-color: linear-gradient(to left, -fx-secondary, -fx-ternary);
    -fx-border-width: 25%;
    -fx-border-color: -fx-primary;
}

.titled-pane:collapsed .title {
    -fx-background-color: linear-gradient(to right, -fx-secondary, -fx-ternary);
    -fx-border-width: 25%;
    -fx-border-color: -fx-primary;
}

.titled-pane:expanded .title .text,
.titled-pane:collapsed .title .text {
    -fx-fill: -fx-text;
}

.titled-pane:expanded .title .arrow-button .arrow,
.titled-pane:collapsed .title .arrow-button .arrow {
    -fx-background-color: -fx-primary;
}

.jfx-combo-box {
    -fx-prompt-text-fill: -fx-text;
    -jfx-focus-color: -fx-ternary;
    -jfx-unfocus-color: -fx-primary;
}

.jfx-combo-box .input-line {
    -fx-background-color: -fx-primary;
}

.jfx-combo-box .input-focused-line {
    -fx-background-color: -fx-ternary;
}

.jfx-combo-box .arrow-button .arrow {
    -fx-background-color: -fx-primary;
}

.jfx-combo-box .list-cell:hover {
    -fx-background-color:derive(-fx-ternary,-10%);
}

.jfx-combo-box .list-cell:focused {
    -fx-background-color: transparent;
}

.jfx-radio-button {
    -jfx-selected-color: -fx-ternary;
    -jfx-unselected-color: -fx-primary;
    -fx-text-fill: -fx-text;
}

.jfx-check-box {
    -jfx-unchecked-color: -fx-secondary;
    -jfx-checked-color: -fx-ternary;
    -fx-text-fill: -fx-text;
}

.jfx-check-box .mark{
    -fx-border-color: -fx-primary;
}

.jfx-button {
    -fx-font-family: 'Trebuchet MS', cursive;
    -fx-text-fill: -fx-secondary;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-primary;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}

.jfx-button .jfx-rippler {
    -jfx-rippler-fill:linear-gradient(to bottom,-fx-secondary,-fx-ternary);
}

.jfx-text-field {
    -jfx-focus-color: -fx-ternary;
    -jfx-unfocus-color: -fx-primary;
    -fx-text-fill: -fx-text;
    -fx-prompt-text-fill: derive(-fx-text, -50%);
}

.jfx-text-field > .input-line {
    -fx-pref-height:2px;
}

.jfx-text-field > .input-focused-line {
    -fx-pref-height:3px;
}

.jfx-text-area {
    -jfx-focus-color: -fx-ternary;
    -jfx-unfocus-color: -fx-primary;

    -fx-background-color: derive(-fx-secondary, 30%);
    -fx-border-color: derive(-fx-secondary, 15%);
    -fx-border-width: 3px;
    -fx-padding: 5;

    -fx-text-fill: -fx-text;
    -fx-font-size: 1.3em;
    -fx-prompt-text-fill: derive(-fx-text, -50%);
    -fx-highlight-fill: -fx-ternary;
    -fx-highlight-text-fill: -fx-text;
}

.jfx-text-area > .input-line {
    -fx-pref-height:2px;
}

.jfx-text-area > .input-focused-line {
    -fx-pref-height:3px;
}

.jfx-progress-bar > .track {
    -fx-background-color: -fx-primary;
}

.jfx-progress-bar > .bar {
    -fx-background-color: -fx-ternary;
}

.jfx-tab-pane .headers-region > .tab-selected-line {
    -fx-background-color: -fx-ternary;
    -fx-pref-height: 3px;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: -fx-secondary;
}

.jfx-tab-pane {
    -fx-background-color:derive(-fx-secondary,30%);
}

.jfx-snackbar-content {
    -fx-background-color: -fx-ternary;
    -fx-border-color: derive(-fx-secondary, -15%);
    -fx-border-width: 3px;
}
.jfx-snackbar-toast {
    -fx-text-fill: -fx-text;
}

.jfx-snackbar-action {
    -fx-text-fill: -fx-secondary;
}

.jfx-toggle-button .text {
    -fx-fill: -fx-text;
}

.jfx-toggle-button {
    -jfx-toggle-color: -fx-text;
    -jfx-toggle-line-color: derive(-fx-primary, 10%);
    -jfx-untoggle-color: -fx-text;
    -jfx-untoggle-line-color: derive(-fx-ternary, 10%);
}

.glyph-icon {
    -fx-fill:-fx-text;
}