/*
    Project: PacmanEdu
    Date of creation: 2019.05.24 09:13
*/

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import "generalStyles.css";

* {
    -fx-primary: rgb(241,185,48);
    -fx-secondary: rgb(54, 52, 48);
    -fx-ternary: rgb(229,0,0);
    -fx-highlighter: rgba(255, 255, 255, 0.7);
    -fx-text: white;
}

.splash-root {
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: -fx-ternary;
    -fx-border-radius: 10px;
}

.splash-root .label {
    -fx-font-family: 'Righteous', cursive;
    -fx-font-size: 50px;
    -fx-text-fill: -fx-text;
}

.main-root {
    -fx-background-color:derive(-fx-secondary,25%);
}

.board-root {
    -fx-background-color:derive(-fx-secondary,25%);
}

.board-container .viewport {
    -fx-background-color:derive(-fx-secondary,25%);
}

.control-root {
    -fx-background-color:derive(-fx-secondary,25%);
}

.algorithms-titled-pane-content {
    -fx-background-color:derive(-fx-secondary,25%);
}

.algorithms-action-box {
    -fx-background-color: derive(-fx-secondary, 25%);
}

.algorithms-action-box .label {
    -fx-text-fill: -fx-text;
    -fx-font-size: 2em;
}

.algorithms-action-grid {
    -fx-background-color: derive(-fx-secondary, 35%);
    -fx-border-color: derive(-fx-secondary, 15%);
    -fx-border-width: 3px;
}

.algorithms-action-grid Line {
    -fx-stroke: -fx-primary;
}

.board-tile-top:hover {
    -fx-background-color: -fx-highlighter;
}

.graph-fundamentals-root {
    -fx-background-color: derive(-fx-secondary, 25%);
}

.graph-builder-root {
    -fx-background-color: derive(-fx-secondary, 25%);
}

.graph-builder-root .label {
    -fx-text-fill: -fx-text;
    -fx-font-size: 1em;
}

.graph-builder-tile-container {
    -fx-background-color: derive(-fx-secondary, 5%);
}
